{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<h1 class="my-6 text-center">Register</h1>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.firstName) }}
			{{ form_row(registrationForm.lastName) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-lg btn-block btn-success" formnovalidate>Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
